$lexenda: 'Lexend Deca', sans-serif;

@font-face {
    font-family: 'Lexend';
    src:url('Lexend.woff2') format('woff2'), /* Super Modern Browsers */
        url('Lexend.woff') format('woff'), /* Pretty Modern Browsers */
        url('Lexend.ttf')  format('truetype'), /* Safari, Android, iOS */
  }